<dl class="govuk-summary-list">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Title
    </dt>
    <dd class="govuk-summary-list__value">
      Rich Dad, Poor Dad
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">
        Change<span class="govuk-visually-hidden"> name</span>
      </a>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Author
    </dt>
    <dd class="govuk-summary-list__value">
      Robert T. Kiyosaki
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">
        Change<span class="govuk-visually-hidden"> date of birth</span>
      </a>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      ISBN
    </dt>
    <dd class="govuk-summary-list__value">
      9781365108105
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">
        Change<span class="govuk-visually-hidden"> address</span>
      </a>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Synopsis
    </dt>
    <dd class="govuk-summary-list__value">
      <p>In Rich Dad Poor Dad, the #1 Personal Finance book of all time, Robert Kiyosaki shares the story of his two
      dad: his real father, whom he calls his poor dad,’ and the father of his best friend, the man who became his
      mentor and his rich dad.’ One man was well educated and an employee all his life, the other’s education was
      street smarts” over traditional classroom education and he took the path of entrepreneurship a road that led
      him to become one of the wealthiest men in Hawaii. Robert’s poor dad struggled financially all his life, and
      these two dads these very different points of view of money, investing, and employment shaped Robert’s
      thinking about money.
      </p>
      <p>Robert has challenged and changed the way tens of millions of people, around the world, think about money and
      investin...
      </p>
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">
        Change<span class="govuk-visually-hidden"> contact details</span>
      </a>
    </dd>
  </div>
</dl>
